<div class="container">
  <div class="flex h-full">
    <div class="welcome-content flex-auto ml-2">
      <div class="welcome-message mt-2">
        Hello, Dr. Robert Fox!
      </div>
      <div class="notification mt-4">
        Today you have 12 appointments
      </div>
      <div class="calendar-button mt-4">
        <button class="text-white font-bold">
          Open Calendar
        </button>
      </div>
    </div>
    <div class="image flex justify-center items-center self-center mr-2">
      <div class="image-placeholder px-4">
        Image Placeholder
      </div>
    </div>
  </div>
</div>
