.container {
  width: 382px;
  height: 129px;
  background-color: #F9F9F9;
  border-radius: 12px;

  .welcome-content {
    .welcome-message {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color: #084734;
    }

    .notification {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: black;
    }

    .calendar-button button {
      width: 137px;
      height: 36px;
      background: #3A4BA6;
      border-radius: 18px;
    }
  }

  .image {
    height: 105px;
    width: 103px;
    border-radius: 8px;
    background-color: rgba(8, 71, 52, 0.1);

    .image-placeholder {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      opacity: 1;
    }
  }
}
