<div class="container p-2">
  <div class="flex cal-header mt-2">
    <div class="month flex-auto">October</div>
    <div class="week mr-2"><     Oct 11-17     ></div>
  </div>
  <div class="cal-week flex mt-4 ml-2">
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Sun
      </div>
      <div class="date">
        11
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Mon
      </div>
      <div class="date">
        12
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Tue
      </div>
      <div class="date">
        13
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Wed
      </div>
      <div class="date">
        14
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Thu
      </div>
      <div class="date">
        15
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center selected mr-4">
      <div class="day">
        Fri
      </div>
      <div class="date">
        16
      </div>
    </div>
    <div class="day-cell flex flex-col items-center justify-center mr-4">
      <div class="day">
        Sat
      </div>
      <div class="date">
        17
      </div>
    </div>
  </div>
</div>
